
body{
    background-image: url('images/image2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

  
/* navigation bar */
nav{
    position: fixed;
    position: relative;
    height: 50px;
    background: #222;
    background-image: url(images/image2.jpg);
    border-image-repeat: 8px;
    display: flex;
    justify-content: left;
    align-items: left;
    top: 0;
    left: 0;
    right: 0;
}
nav a{
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    padding-left: 23px;
    padding-right: 23px;
    z-index: 1;
}

nav span{
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg,rgba(25, 40, 79, 0.543),#ff33f8);
    border-radius: 8px;
    /* display: none; */
}
nav a:nth-child(1):hover~span{
    left: 0;
    width: 95px;
    display: block;
}
nav a:nth-child(2):hover~span{
    left: 95px;
    width: 80px;
    display: block;
}
nav a:nth-child(3):hover~span{
    left: 180px;
    width: 90px;
    display: block;
}
nav a:nth-child(4):hover~span{
    left: 267px;
    width: 90px;
    display: block;
}
nav a:nth-child(5):hover~span{
    left: 357px;
    width: 80px;
    display: block;
}

h1{
    color: white;
}

/* players list */

.flex-container{
    width: 100%;
    height: auto;
    display: flex;
    /* flex-direction: row-reverse; */
    flex-wrap: wrap;
    /* justify-content: center; */
    margin-left: 700px;
    
}
a:link{
    background-color: transparent;
    text-decoration: none;
}

.flex-box{
    width: 600px;
    height: 320px;
    background-color: rgba(167, 20, 212, 0.849);
    text-align: center;
    border-radius: 20px;
    margin: 40px;
    right: 0;
}
.flex-box :hover{
    background: #62924e41;
    transform: translateY(-10px);
}
.wiki{
    color: black;
    background-color: rgba(255, 255, 255, 0.541);
}
.wiki :hover{
    color: black;
    background-color: rgba(255, 255, 255, 0.541);
}
li{
    list-style-type: none;
}
