/* player.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f5;
    color: #333;
}

nav {
    background-color: #003366;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #0055a5;
    color: white;
}

.main_container {
    text-align: center;
    padding: 20px;
}

.main_container h1 {
    margin-top: 20px;
    color: #003366;
    text-shadow: 1px 1px 2px #000000;
}

.flex-container {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    margin-top: 20px;
}

.team-section {
    width: 300px;
    margin: 10px;
    margin-left: 50px;
    padding: 20px;
    border: 2px solid #003366;
    border-radius: 8px;
    background: linear-gradient(145deg, #f9f9f9, #e0e0eb);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    transition: transform 0.3s;
}

.team-section:hover {
    transform: scale(1.05);
}

.team-section h3 {
    text-align: center;
    color: #003366;
    margin-bottom: 10px;
    border-bottom: 2px solid #003366;
    padding-bottom: 5px;
}

.wiki {
    list-style-type: none;
    padding: 0;
}

.wiki li {
    margin: 5px 0;
}

.wiki a {
    text-decoration: none;
    color: #003366;
    font-weight: bold;
    transition: color 0.3s;
}

.wiki a:hover {
    text-decoration: underline;
    color: #0055a5;
}
